//*************************
$spacer=
    clear: both

.spacer
    {$spacer}

//*************************
$clearfix=
    display: block
    &:after
        content: " "
        display: block
        height: 0
        clear: both
        visibility: hidden

.clearfix
    {$clearfix}

//*************************
$floatright=
    float: right

.floatright
    {$floatright}

//*************************
$floatleft=
    float: left

.floatleft
    {$floatleft}

//*************************
$centered=
    text-align: center

.centered
    {$centered}

//*************************
$righted=
    text-align: right

.righted
    {$righted}

//*************************
$lefted=
    text-align: left

.lefted
    {$lefted}

//*************************
$justified=
    text-align: justify

.justified
    {$justified}

//*************************
$hidden=
    display: none

.hidden
    {$hidden}

//*************************
$sticky=
    position: sticky

.sticky
    {$sticky}

//*************************
$relative=
    position: relative

.relative
    {$relative}

//*************************
$absolute=
    position: absolute

.absolute
    {$absolute}

//*************************
$fixed=
    position: fixed

.fixed
    {$fixed}

//*************************
$inline=
    display: inline

.inline
    {$inline}

//*************************
$inline-block=
    display: inline-block

.inline-block
    {$inline-block}

//*************************
$block=
    display: block

.block
    {$block}

//*************************
$flex=
    display: flex

.flex
    {$flex}

//*************************
$flexbox-centering=
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.flexbox-centering
    {$flexbox-centering}

//*************************
$grid=
    display: grid

.grid
    {$grid}

//*************************
$vhcentered=
    display: grid
    place-content: center

.vhcentered
    {$vhcentered}

//*************************
$bold=
    font-weight: bold

.bold
    {$bold}

//*************************
$normal=
    font-weight: normal

.normal
    {$normal}

//*************************
$italic=
    font-style: italic

.italic
    {$italic}

//*************************
$wrap=
    overflow-wrap: break-word
    word-wrap: break-word
    white-space: pre-wrap
    word-break: break-word
    hyphens: auto

.wrap
    {$wrap}

//**************************
$hellip=
    text-overflow: ellipsis

.hellip
    {$hellip}
