/*******   sanserif   *******/
@font-face
    font-family: 'Saira400'
    src: url('../fonts/saira/saira-v6-latin-regular.woff2') format('woff2')

sanserif($fstyle = normal, $fweight = 400)
    font-family: 'Saira400'
    font-style: $fstyle
    font-weight: $fweight

/*******   serif   *******/
serif($fstyle = normal, $fweight = 400)
    font-family: 'Times New Roman', Times, Georgia, Garamond, serif
    font-style: $fstyle
    font-weight: $fweight

/*******   mono   *******/
@font-face
    font-family: 'Source Code Pro400'
    src: url('../fonts/source-code-pro/source-code-pro-v13-latin-regular.woff2') format('woff2')

mono($fstyle = normal, $fweight = 400)
    font-family: 'Source Code Pro400'
    font-style: $fstyle
    font-weight: $fweight

/*******   cursive   *******/
@font-face
    font-family: 'Marck Script'
    src: url('../fonts/marck-script/marck-script-v11-latin-regular.woff2') format('woff2'))

cursive($fstyle = normal, $fweight = 400)
    font-family: 'Marck Script'
    font-style: $fstyle
    font-weight: $fweight
