sanserif($fstyle = normal, $fweight = 400)
    font-family: Arial, Verdana, Helvetica, Tahoma, 'Trebuchet MS', sans-serif
    font-style: $fstyle
    font-weight: $fweight

serif($fstyle = normal, $fweight = 400)
    font-family 'Times New Roman', Times, Georgia, Garamond, serif
    font-style: $fstyle
    font-weight: $fweight

mono($fstyle = normal, $fweight = 400)
    font-family 'Courier New', Courier, monospace
    font-style: $fstyle
    font-weight: $fweight

cursive($fstyle = normal, $fweight = 400)
    font-family 'Brush Script MT', 'Apple Chancery', 'Lucida Calligraphy', cursive
    font-style: $fstyle
    font-weight: $fweight
