*,
*::before,
*::after
    box-sizing border-box

:root
    tab-size 4

html, body
    margin 0
    padding 0
    border 0
    height 101%

html
    font-size 100%
    line-height 1

body
    font-size 1.15em
    text-rendering optimizeLegibility /* ou: text-rendering: optimizeSpeed */

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin 0
    padding 0
    border 0
    font-size inherit
    font inherit
    vertical-align baseline

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary
    display block

audio, canvas, progress, video
    display inline-block
    vertical-align baseline

audio
    &:not([controls])
        display none
        height 0

[hidden], template
    display none

ol, ul
    list-style none

blockquote, q
    quotes none

blockquote:before, blockquote:after,
q:before, q:after
    content ''
    content none

table
    border-collapse collapse
    border-spacing 0

abbr[title]
    cursor help
    text-decoration underline dotted

dfn
    font-style italic

b,
strong
    font-weight bolder

code,
kbd,
samp
    font-size 1em

small
    font-size 80%

sub,
sup
    font-size 75%
    line-height 0
    position relative
    vertical-align baseline

sub
    bottom -0.25em

sup
    top -0.5em

em
    font-style oblique

i
    font-style italic

ins
    text-decoration-style wavy

del, s
    text-decoration-line line-through

a
    background-color transparent
